html,body{
    margin: 0px;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card   {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: lightgrey;
    min-width: 30%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px silver;
    padding: 0px 20px 20px 20px
}

form {
    display: flex;
    flex-flow: column wrap;
}

input, button {
    margin: 5px;
    padding: 5px;
}

input {
    border: 1px solid lightgrey;
    border-radius: 4px;
}

 input:focus {
    outline-color: #4285F4;
}

button {
    background-color: #4285F4;
    color: white;
    border-radius: 5px;
    border: 0px;
    margin: 0px 40px 0px 40px;
}

h1 {
    margin-bottom: -10px;
    display: flex;
}

h3 {
    color: #202124;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: -20px;
}

h5 {
    color: #202124;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 1.5;
}

.logo:hover span{
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 0.3s ease infinite alternate;
}

@keyframes bounce{
    100%{
        top: -20px;
    }
}

  .logo span:nth-child(1){
    animation-delay:0.1s;
  }
  .logo span:nth-child(2){
    animation-delay:0.2s;
  }
  .logo span:nth-child(3){
    animation-delay:0.3s;
  }
  .logo span:nth-child(4){
    animation-delay:0.4s;
  }
  .logo span:nth-child(5){
    animation-delay:0.5s;
  }
  .logo span:nth-child(6){
    animation-delay:0.6s;
  }
  .logo span:nth-child(7){
    animation-delay:0.7s;
  }
  .logo span:nth-child(8){
    animation-delay:0.8s;
  }